<!-- navbar----- -->
<nav class="navbar navbar-dark bg-dark">    
  <div class="container">
    <a class="navbar-brand" style="cursor:disabled ;text-align: center;">My Todo Application</a>   
  </div>
</nav>

<!-- Todo app---------- -->

<div class="container col-md-6 mt-5 bg-white shadow" style="height:1000px ;">

  <div class="card bg-warning mt-4">
      <h4 class="text-white text-center p-3 pt-2 pb-2">To Do App</h4>
  </div>

  <h4 class="text-primary mt-4">Tasks :</h4>

  <app-todos></app-todos>

</div>

